@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root {
  /*Primary*/
  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);
  /*Neutral*/
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
  /*Gradients*/
  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);
  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0);

  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: 'Hanken Grotesk', sans-serif;
  min-height: 100vh;
}

.summary-left {
  background: linear-gradient(
    to bottom,
    var(--light-slate-blue),
    var(--light-royal-blue)
  );
  color: var(--pale-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  border-radius: 0 0 3rem 3rem;
}

.summary-left-heading {
  font-size: 1.8rem;
  color: var(--light-lavender);
  margin-bottom: 2.5rem;
}

.summary-circle {
  background: linear-gradient(
    to bottom,
    var(--violet-blue),
    hsla(241, 81%, 54%, 0)
  );
  width: 14rem;
  height: 14rem;
  border-radius: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.summary-score {
  display: block;
  font-size: 5.5rem;
  font-weight: 700;
  margin-bottom: 0.4rem;
}

.summary-total {
  font-size: 1.5rem;
  font-weight: 700;
  color: hsla(241, 100%, 89%, 0.438);
}

.summary-comment {
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--white);
  margin-bottom: 1.2rem;
}

.summary-comparison {
  font-size: 1.6rem;
  text-align: center;
  color: hsla(241, 100%, 89%, 0.836);
}

.summary-right {
  padding: 3rem;
}

.summary-right-heading {
  font-size: 1.9rem;
  font-weight: 700;
  color: var(--dark-gray-blue);
  margin-bottom: 2.5rem;
}

.summary-results {
  margin-bottom: 2.5rem;
}

.summary-result {
  padding: 1.8rem 1.5rem;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  font-size: 1.6rem;
  font-weight: 700;
}

.summary-result:not(:last-child) {
  margin-bottom: 1.8rem;
}

.summary-result-text {
  margin-left: 1rem;
}

.summary-result-score {
  margin-left: auto;
  margin-right: 0.8rem;
  color: var(--dark-gray-blue);
}

.summary-result-total {
  color: hsla(224, 30%, 27%, 0.466);
}

.summary-reaction {
  background-color: hsla(0, 100%, 67%, 0.123);
}

.summary-reaction-text {
  color: hsl(0, 100%, 67%);
}

.summary-memory {
  background-color: hsl(39, 100%, 56%, 0.123);
}

.summary-memory-text {
  color: hsl(39, 100%, 56%);
}

.summary-verbal {
  background-color: hsl(166, 100%, 37%, 0.123);
}

.summary-verbal-text {
  color: hsl(166, 100%, 37%);
}

.summary-visual {
  background-color: hsl(234, 85%, 45%, 0.123);
}

.summary-visual-text {
  color: hsl(234, 85%, 45%);
}

.summary-btn {
  width: 100%;
  padding: 1.6rem;
  border-radius: 10rem;
  border: none;
  background-color: var(--dark-gray-blue);
  font-weight: 700;
  color: var(--white);
  cursor: pointer;
}

.summary-btn:hover {
    background: linear-gradient(to bottom, var(--violet-blue), var(--light-royal-blue));
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin: 4rem 0rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 500px) {
  .summary-wrapper {
    max-width: 52rem;
    margin: 0 auto;
  }
}

@media (min-width: 800px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .summary-wrapper {
    display: flex;
    max-width: 70rem;
    border-radius: 3rem;
    box-shadow: 9px 9px 23px -1px var(--pale-blue);
  }

  .summary-left,
  .summary-right {
    width: 50%;
  }

  .summary-left {
    border-radius: 3rem 0 0 3rem;
  }

  .summary-circle {
    width: 19rem;
    height: 19rem;
    margin-bottom: 3rem;
  }

  .summary-score {
    font-size: 7rem;
  }

  .summary-total {
    font-size: 1.8rem;
  }

  .summary-comment {
    font-size: 3.1rem;
    margin-bottom: 2rem;
  }

  .summary-comparison {
    font-size: 1.83rem;
    line-height: 2.5rem;
  }

  .summary-right-heading {
    font-size: 2.5rem;
  }

  .summary-results {
    margin-bottom: 3.8rem;
  }

}
